.promo {
    background: #073042;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.promo__logo {
    width: 310px;
    height: 304px;
    top: 78px;
    right: 70px;
    position: absolute;
}

.promo__title {
    color: #FFF;
    max-width: 640px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin: 0;
    margin: 78px 0 0 70px;

}

.promo__subtitle {
    color: #FFF;
    max-width: 310px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin: 36px 0 0 70px;
    opacity: 0.5;
}

.promo__link-more {
    display: block;
    width: 129px;
    height: 36px;
    padding: 0;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #FFF;
    box-sizing: border-box;
    margin: 146px 0 75px 70px;
    text-decoration: none;
}

.promo__link-more:hover {
    opacity: 0.6;
    cursor: pointer;
}

.promo__link-text {
    display: block;
    box-sizing: content-box;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
    margin: 0;
    padding: 10px 20px;
}

@media screen and (max-width: 1100px) {

    .promo__logo {
        top: 140px;
        right: calc((100% - 310px)/2);
        left: calc((100% - 310px)/2);
    }

    .promo__title {
        font-size: 40px;
        line-height: 50px;
        margin: 492px auto 0;
        text-align: center;
    }

    .promo__subtitle {
        text-align: center;
        margin: 22px auto 0;
    }

    .promo__link-more {
        margin: 92px auto 76px;
    }
}

@media screen and (max-width: 500px) {
    .promo__logo {
        width: 210.001px;
        height: 206px;
        top: 70px;
        right: calc((100% - 210px)/2);
        left: calc((100% - 210px)/2);
    }

    .promo__title {
        font-size: 30px;
        line-height: 38px;
        margin: 320px auto 0;
    }

    .promo__subtitle {
        margin: 24px auto 0;
    }

    .promo__link-more {
        margin: 80px auto 30px;
    }
}